<div class="flex flex-col max-w-50 mx-auto px-1 gap-1 mb-8">
    <h1 class="text-center">Frequently Asked Questions</h1>
    {% for i in faq %}
    <div class="flex flex-col justify-center items-center ">
        <div class="p-1 flex items-center w-full justify-between question round-1 cursor-pointer">
            <div class="flex-1">
                <span class="text-light text-24">{{i.question}}</span>
            </div>
            <div>
                <span class="down-arrow"> <span class="material-symbols-rounded icon-24"> keyboard_arrow_right</span>
                </span>
                <span class="up-arrow hidden"> <span class="material-symbols-rounded icon-24"> keyboard_arrow_up </span>
                </span>
            </div>
        </div>
        <div class="answer hidden text-20 w-full">
            {{i.answer}}
            {% if i.examples%}
            <ul>
                {% for j in i.examples %}
                <li>{{j}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<script>
    const questions = document.querySelectorAll('.question');
    const answers = document.querySelectorAll('.answer');
    const downArrows = document.querySelectorAll('.down-arrow');
    console.log(downArrows)
    const upArrows = document.querySelectorAll('.up-arrow');

    questions.forEach((question, index) => {
        question.addEventListener('click', () => {
            questions[index].classList.toggle('active');
            answers[index].classList.toggle('hidden');
            downArrows[index].classList.toggle('hidden');
            upArrows[index].classList.toggle('hidden');
        });
    });

</script>