<div class="flex flex-col mx-auto justify-center max-w-80 px-sm pt-4 mb-8 md:px-1half md:flex-row">
    <div class="">
        <h1 class="text-center font-extrabold max-w-36 my-1 text-lg md:text-lg">
            <span class="inline-block">Create AI</span>
            <span class="inline-block">chatbots</span>
            <span class="inline-block bg-gradient-to-r from-purple-400 to-purple-600 bg-clip-text text-transparent">with
                your data</span>
        </h1>
        <p class="mx-auto base-text text-center max-w-24">
            <span class="inline-block">Upstream lets teams train AI </span>
            <span class="inline-block">chatbots that can answers questions about their data.</span>
        </p>
        <div class="flex flex-col items-center justify-center ">
            <div class="flex gap-1">
                <div>
                    <!-- on click make emailform appear -->
                    <a href="https://chat.upstreamapi.com" class="button-cta green flex">
                        Build your chatbot &nbsp;
                        <span class="material-symbols-rounded">arrow_forward </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex items-center justify-center mt-2 md:mt-0 mb-8">
    <img style="aspect-ratio: 600/403" class="relative w-full max-w-60"
        src="{{ url_for('static', filename='img/hero_1.png') }}" alt="hero">
    <img class="w-full animation-img pop3 absolute max-w-60" src="{{ url_for('static', filename='img/hero_2.png') }}"
        alt="hero">
    <img class="w-full animation-img pop1 absolute max-w-60" src="{{ url_for('static', filename='img/hero_3.png') }}"
        alt="hero">
    <img class="w-full animation-img pop2 absolute max-w-60" src="{{ url_for('static', filename='img/hero_4.png') }}"
        alt="hero">
</div>