<header class="py-1">
    <nav class="mx-auto px-sm md:px-1half max-w-80 relative flex items-center justify-between">
        <a href="/" class="flex flex items-center">
            <div class="flex gap-sm w-full items-center justify-between">
                <img class="h-2 w-auto" src="{{ url_for('static', filename='192.png') }}">
                <span>Upstream AI</span>
            </div>
        </a>
        <div class="flex gap-1 items-center navbar-right">
            <a href="/updates"> Updates </a>
            <a href="https://billing.stripe.com/p/login/aEUbKfh0DaUw0aAbII" target="_blank">
                <div class="flex items-center">
                    <span class="material-symbols-rounded sm-icon"> open_in_new</span>
                    &nbsp;
                    Billing
                </div>
            </a>
            <div class="flex items-center button-cta blue">
                <a href="/plans">Upgrade to PRO</a>
            </div>
        </div>
    </nav>
</header>