<!DOCTYPE html>

<body style="width: 600px;">
    <p>Hi!</p>
    <p>Welcome to Upstream, an AI that can chat about your content. It's like having a creative partner that suggests ideas for your projects, provides answers on any topic, and
        helps you get things done quicker than ever before.</p>
    <p>Here's how it works:</p>
    <p>Upstream is available on the web and as a Chrome extension.</p>
    <p><b>Chrome Extension.</b> It will ask for an activation key, here's yours.</p>
    <p><mark>sk-{{sk}}</mark></p>
    <p><b>Upstream Web.</b> Here's your private link to access Upstream from your phone or desktop at <mark><a target="_blank" href="https://chat.upstreamapi.com/?hash={{sk}}">chat.upstreamapi.com/?hash={{sk}}</a></mark></p>
    <p><b>Simple interface.</b> Your conversation history on the left and chat on the right. That simple!</p>
    <img src="cid:interface-img" style="max-width: 100%; height: auto;" alt="interface-img"> 
    <p><b>Chat.</b> Ask questions and refine answers with back and forth conversation; recipes, drafting responses, extracting information from websites, you name it!</p>
    <img src="cid:chat-gif" style="max-width: 100%; height: auto;" alt="chat-gif"> 
    <p><b>Content-aware Q&A.</b>To add your sources to a conversation, select one of your Chrome tabs by pressing the slash key "/". Then simply ask something like, "Write a one line summary of this page."</p>
    <img src="cid:context-gif" style="max-width: 100%; height: auto;" alt="context-gif">
    <p>Here's a quick <a target="_blank" href="https://youtu.be/Fh1WtR7agVY">video</a> to see Upstream in action!</p>
    <br/>
    <a style="padding: 1rem; background-color: black; color: white; border-radius: 4px; text-align: center; text-decoration: none;" href="https://chrome.google.com/webstore/detail/upstream-ai/mempkfolkgcigbelcdnepjgpeieioifd">Try Upstream Chat → </a>
    <br/>
    <br/>
    <p>Have feedback? Schedule a <a target="_blank" href="https://calendly.com/pablo_upstream/15min">15-min call with me</a>. 
    <p><a href="https://www.twitter.com/pfelgueres">Pablo</a>, <a target="_blank" href="https://upstreamapi.com">Upstream AI</a></p>
    <p>San Francisco, CA</p>
</body>

</html>