{% extends "base.html" %}

{% include "navbar.html" %}

{% block content %}
<div class="bg-light w-full h-full">
    <div>
        <stripe-pricing-table pricing-table-id="prctbl_1MbSZhGPceKLOceCL2qfABQN"
            publishable-key="pk_live_51LUwtiGPceKLOceCt57JclRMtmiwyxNnGFPMCPHJTvvwuNtLFr42JhnRFoMdt6pI6SVq9H8kSxehjrrNxpQIhXP100JwkV4yJn">
        </stripe-pricing-table>
    </div>
    {% include "reviews.html"%}
</div>

<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
{% endblock %}