{% extends "base.html" %}

{% block content %}

<div class="home">
    <div class="flex justify-center align-center">
        <div class="width-lg mx-auto">
            <h3>Privacy Policy</h3>
            <p>
                This privacy policy explains how we collect, use, and share information when you use our extension.
                Please read it carefully to understand our practices.
            </p>
            <p>
                By using our extension, you agree to the collection, use, and sharing of your information as described
                in this policy.
            </p>
            <h4>Information we collect</h4>
            <p>
                When you use our extension, we collect the text content of the tabs you select and submit through our
                servers to OpenAI's API. We do not collect any other information about your use of the extension,
                including your cookies, tab list, or non-submitted tab content.
                You can see the data being submitted in the "context" section in the interface.
            </p>

            <h4>How we use your information</h4>
            <p>
                We use the text content of the tabs you select and submit to provide the extension's services to you.
            </p>

            <h4>Sharing your information</h4>
            <p>
                We do not share your information with third parties, except as described in this policy.
                We may share your information with OpenAI's API in order to provide the extension's services to you.
            </p>


            <h4>Your choices</h4>
            <p>
                You can choose not to use the extension if you do not want to share the text content of your selected
                and submitted tabs with us.
            </p>


            <h4>Changes to this policy</h4>
            <p> We may update this policy from time to time. We will post any updates on this page, and we encourage you
                to review the policy periodically.
            </p>

            <h4>Contact</h4>
            <p>
                If you have any questions or concerns about our privacy practices, please contact us at
                <a href="mailto: hi@upstreamapi.com" target="_blank">hi@upstreamapi.com</a>
            </p>
        </div>

    </div>

</div>


{% endblock %}