<div class="flex pt-4 pb-4 items-center flex-col justify-center bg-dark">
    <div class="flex px-sm">
        <img class="w-5" src="{{ url_for('static', filename='leaves-left.png') }}" alt="Upstream logo" />
        <div class="flex flex-col align-items justify-center gap1">
            <a class="mx-auto" href="https://www.producthunt.com/posts/upstream-3?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-upstream&#0045;3"
                target="_blank"><img
                    src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=374152&theme=light"
                    alt="Upstream - GPT&#0032;for&#0032;a&#0032;less&#0032;noisy&#0032;web | Product Hunt"
                    style="width: 250px; height: 54px;" width="250" height="54" /></a>
            <a class="mx-auto" href="https://www.producthunt.com/posts/upstream-3?utm_source=badge-top-post-topic-badge&utm_medium=badge&utm_souce=badge-upstream&#0045;3"
                target="_blank"><img
                    src="https://api.producthunt.com/widgets/embed-image/v1/top-post-topic-badge.svg?post_id=374152&theme=light&period=weekly&topic_id=268"
                    alt="Upstream - GPT&#0032;for&#0032;a&#0032;less&#0032;noisy&#0032;web | Product Hunt"
                    style="width: 250px; height: 54px;" width="250" height="54" /></a>
            <p class="text-white text-center">
                Helping 500+ individuals achieve more everyday with AI.
            </p>
        </div>
        <img class="w-5" src="{{ url_for('static', filename='leaves-right.png') }}" alt="Upstream logo" />
    </div>
</div>